<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCdNIfoezU5652YLykRgcxhdVCn8ivXGi4</string>
	<key>GCM_SENDER_ID</key>
	<string>405290548092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.usersideEcommerce</string>
	<key>PROJECT_ID</key>
	<string>emart-fire-flutt</string>
	<key>STORAGE_BUCKET</key>
	<string>emart-fire-flutt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405290548092:ios:f68ef1135dd98e78a1c2f9</string>
</dict>
</plist>